{{#each this}}
<li class="country">
    <div class="country_flag">
        <img class="country__flag-image" src="{{flag}}" alt="country flag" heigth="30" width="30">
    </div>
    <p class="country__name">{{name}}</p>
</li>
{{/each}}